* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header
{
    width: 100%;
    background-color: #560b19
}
#img_header
{
    width: 100px;
    height: 100px;
}
#img_body
{
    width: 150px;
    height: 150px;
}
h1
{
    color: #fff1cd;
}
#id_header
{
    width: auto;
    height: auto;
    align-content: center;
    box-sizing: border-box;
}
.img_profile
{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
